{%- liquid
  assign jm_product = closest.product
  assign jm_style = block.settings.jm_style
-%}

<div
  style='{{ jm_style }}'
  class='jdgm-widget jdgm-preview-badge'
  data-id='{{ jm_product.id }}'
  data-auto-install='false'
  {{ block.shopify_attributes }}
>
  {{ jm_product.metafields.judgeme.badge }}
</div>

{% schema %}
{
  "name": "Custom Review Stars",
  "tag": null,
  "settings": [
    {
      "type": "paragraph",
      "content": "Renders the Judge.me preview badge for the current product."
    },
    {
      "type": "text",
      "id": "jm_style",
      "label": "Inline style",
      "default": ""
    }
  ],
  "presets": [
    {
      "name": "Custom Review Stars"
    }
  ]
}
{% endschema %}
