<div 
  class="natural-product product__block product__block-icon-text justify-content-center"
  id="product-block-{{ block.id }}"
  {{ block.shopify_attributes }}
>
  
   <img src="//klyrmen.com/cdn/shop/files/wefawef.svg?v=1759314948&amp;width=100" alt="" width="auto" height="auto">

  <p>
    {% if product and product.handle == 'conceal-and-repair' %}
  Free Shipping & Returns
{% else %}
  Free shipping from {%- render 'shipping-threshold-loader' -%}
{% endif %}

    
   
   </p>
</div>

{% schema %}
{
  "name": "Free Shipping",
  "tag": null,
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "image_picker",
      "id": "custom_icon",
      "label": "Custom icon (PNG or SVG)",
      "info": "Upload your own icon. If selected, this will override the preset icon below."
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Made with 100% natural ingrediënts"
    },
    {
      "type": "checkbox",
      "id": "align_center",
      "label": "Align Center",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Free Shipping"
    }
  ]
}
{% endschema %}