<section class="condition-content-wrap">
  <div class="container-max">
    <div class="row gap-x-40">
      <div class="col-lg-6">
        <div class="condition-left-col">
          <h2>{{ section.settings.terms_heading }}</h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="condition-right-col">
          <h4 class="font-base">{{ section.settings.article_title }}</h4>
          <div class="content">
            <div>
              <p>{{ section.settings.article_description_top }}</p>
            </div>
            {{ section.settings.article_richtext }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Terms & Conditions",
  "settings": [
    {
      "type": "text",
      "id": "terms_heading",
      "label": "Main Heading (Left Side)",
      "default": "terms & conditions"
    },
    {
      "type": "text",
      "id": "article_title",
      "label": "Right Side - Article Title",
      "default": "Article 1"
    },
    {
      "type": "textarea",
      "id": "article_description_top",
      "label": "First Paragraph",
      "default": "Made in Nijmegen, the Netherlands — where precision grooming meets European craftsmanship. Designed for men, our products combine clean formulas with high-performance results you can trust."
    },
    {
      "type": "richtext",
      "id": "article_richtext",
      "label": "List + Final Paragraph",
      "default": "<ul><li><h5>Invisible coverage</h5> Our natural pigments adapt to your skintone, so that no one will notice you’re wearing something.</li><li><h5>Designed for men’s skin</h5> We’ve crafted the concealing gel with the men in mind. We offer lightweight gel.</li><li><h5>Easy application</h5> Super easy to use with your hands and finished within 10 seconds.</li></ul><p>Designed for men, our products combine clean formulas with high-performance results you can trust. Made in Nijmegen, the Netherlands — where precision grooming meets European craftsmanship.</p>"
    }
  ],
  "presets": [
    {
      "name": "Terms & Conditions",
      "category": "Custom"
    }
  ]
}
{% endschema %}
